$main-font: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
/*footer*/
footer{
   small{
      padding:24px 0;
      clear: both;
      letter-spacing: 0px;
      text-align:center;
      display: block;
      font-size:11px;
      color: #fff;
      font-family:$main-font;
   }
}
@media screen and(max-width:768px){
   footer{
      .button{
         width: 100%;
      }
   }
}
@media screen and(max-width:480px){
}