$main-font: 'Roboto Condensed', sans-serif;
$top-font: 'Hammersmith One', sans-serif;
$title-font: "Futura", Futura, sans-serif;
$main-title-font: 'Josefin Sans', sans-serif;

/*clearfix*/
.clearfix{
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin clearfix{
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
   -webkit-text-size-adjust: none;
   background: #000000 !important;
   
   color:#ffffff;
   a{
      color:#ffffff !important;
      &:hover{
         text-decoration: none;
      }
   }
   .maintitle{
      text-align: center;
      font-family: $main-title-font;
      font-size:32px;
      padding-top: 45px;
      margin-bottom: 30px;
      letter-spacing: 2px;
   }
   .maintitle.small{
      font-size:26px;
   }
   h2{
      font-size:18px;
      letter-spacing: 1px;
      text-align: center;
   }
   .lower-wrap{
      max-width:900px;
      margin:auto auto;
      color:#ffffff;
      @include clearfix;
   }
   #keyvisual{
      max-height:461px;
      margin-bottom:51px;
      overflow: hidden;
   }
   .text-area{
      font-size:12px;
      letter-spacing: 1px;
      line-height:200%;
      margin-bottom: 20px;
      text-align: left;
   }
   @media screen and(max-width:768px){
      .lower-wrap{
         padding: 0 10px;
      }
      #keyvisual{
         margin-bottom:41px;
      }
      .text-area{
         font-size:15px;
         line-height:170%;
         margin-bottom: 20px;
      }
      /*iOSでの太文字*/
      h1,h2{
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: #ffffff;
         -webkit-text-fill-color: #ffffff;
      }
      h2 b{
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: #ff0000;
         -webkit-text-fill-color: #ff0000;
      }
   }
   @media screen and(max-width:480px){

   }
}

/*icon*/
.icon-new{
   width:50px;
   height:18px;
   font-size: 11px;   text-align: center;
   background: rgba(238,0,0,0.8);
   color:#fff;
   position: absolute;
   top:10px;
   left:-6px;
}


/* a */
a{
   color: #6c6c6c;
   text-decoration: none;
}
/*font-weight*/
.fb{
   font-weight: bold;
}
/*img*/
img{
   width: 100%;
   vertical-align: bottom;
}
/*position*/
@mixin position-central{
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin: auto;
}
@mixin position-absolute-0{
   position: absolute;
   top:0;
   left:0;
}

/*border*/
@mixin border{
   border: 1px solid #d0d0d0;
}
@mixin border-top{
   border-top: 1px solid #d0d0d0;
}
@mixin border-bottom{
   border-bottom: 1px solid #d0d0d0;
}
@mixin border-box{
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -ms-box-sizing:border-box;
   -o-box-sizing:border-box;
}
.border-all{
   border: 1px solid #d0d0d0;
}
.border-top{
   border-top: 1px solid #d0d0d0;
}
.border-dotted-bottom{
   border-bottom: 1px dotted #000;
}

/*フォーム input*/
input[type=text],
input[type="button"],
input[type="password"],
input[type="submit"]{
   font-size : 15px;
   border : none;
   -webkit-border-radius : 0;
   -webkit-appearance : none;
   -webkit-tap-highlight-color : rgba(0,0,0,0);
}
/*align*/
.text-c{
   text-align: center;
}
.text-l{
   text-align: left !important;
}
/*float*/
.fl-l{
   float: left;
}
.fl-r{
   float: right;
}
.clear{
   clear: both;
}

/*button*/
.button{
   font-family: $main-font !important;
   text-align: center;
   letter-spacing: 1px;
   color: #fff;
   padding:0;
   display: block;
   width:400px;
   font-size: 12px;
   display: inline-block;
   border:1px solid #fff;
   transition: .3s;
   a{
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 0;
   }
}
.button.near{
   border: none;
}
.button.on{
   background: #fff;
   a{
      color: #000 !important;
   }
}
.button:hover{
   background: rgba(255,255,255,0.9);
   a{
      color: #000 !important;
   }
}
.button-bg-gray{
   background: #b7b7b7;
}
.button-all{
   background: #B7B7B7;
   width: 100%;
   padding:12px 0;
   text-align: center;
   letter-spacing: 1px;
   a{
      color: #fff;
      display: block;
   }
}
.button-short{
   background: #B7B7B7;
   width: 49%;
   padding:12px 0;
   text-align: center;
   letter-spacing: 1px;
   a{
      color: #fff;
      display: block;
   }
}
a.action-hover{
   transition: .3s;
}
a.action-hover:hover{
   background: rgba(000,000,000,0.6);
   opacity: 1;
}
@media screen and(max-width:480px){
  .button{
     width:100%;
   }
}
.button-long-style{
   background: #565656;
   width:328px;
   font-size:18px;
}
.button-login-style{
   background: #b7b7b7;
   letter-spacing: 1px;
   width:72px;
   font-size:12px;
   padding:3px 0 6px;
   a{
      color: #fff;
   }
}
/*form*/
   #lastarea{
      text-align: center;
      width: 300px;
      padding:30px 0 100px;
      margin: auto;
      letter-spacing: 1px;
      line-height: 250%;
      a{
         text-decoration: underline;
         font-size: 12px;
      }
   }
.cw_fr{
   min-width:460px;
   margin-left:0px;
   margin-bottom: 10px;
   float: right;
}
.error{
   text-align: center;
   color: #ff0000;
   font-weight: bold;
}
#contact_wrapper{
   margin-top: 33px;
   max-width: 100%;
   float: right;
   span{
      font-size: 10px;
      color: #ff0000;
   }
   select{
      margin-top:5px;
   }
   dl{
      padding-bottom:16px;
      margin-bottom:16px;
      min-width:460px;
      border-bottom:1px solid #555555;
      dt{
         margin-bottom: 5px;
         margin-right:20px;
         font-size:14px;
         font-family: 'Oxygen', sans-serif;
         &.not{
            border-left:4px solid #a6937c;
         }
      }
      dd{
         font-size:13px;
         input,
         textarea{
            width:100%;
            height:28px;
            background:#494949;
         }
         input{
            color: #ffffff;
            &.post{
               min-width:188px;
               margin-right:40px;
               float:left;
            }
            &.short{
               min-width:148px;
               margin-right:0px;
            }
         }
         textarea{
            color: #ffffff;
            width:100%;
            height:218px;
            padding-top:10px 0 0 10px;
            border: 1px solid #494949;
         }
      }
      &:after{
          content: ".";
          display: block;
          height: 0;
          font-size:0;
          clear: both;
          visibility:hidden;
      }
   }
   #btn_area{
      margin-top:20px;
      input{
         cursor:pointer;
      }
   }
   .btn{
      width:100%;
      height:44px;
      background: #2b2b2b;
      letter-spacing: 2px;
      color:#ffffff;
      border-style:none;
      margin:0 0 30px 0px;
      text-align:center;
      padding-top:3px;
      font-size:13px;
      -webkit-appearance: none;
      cursor:pointer;
   }
}
@media screen and(max-width:900px){
   #contact_wrapper{
      margin-top: 33px;
      max-width:100%;
      float: none;
      dl{
         min-width:100%;
      }
   }
   #adress-area,
   #contact_wrapper{
      padding:0 20px;
   }
}
@media screen and(max-width:480px){
   #adress-area,
   #contact_wrapper{
      padding:0 10px;
   }
   body{
      .maintitle{
         padding-top: 8px;
      }
   }
}
/*pager*/
#pager{
   text-align: center;
   position: relative;
   overflow: hidden;
   margin-bottom: 80px;
   .press-pagenavi{
      position: relative;
      left: 50%;
      float: left;
      span{
         padding: 8px 14px;
         display: block;
         float: left;
         color: #ffffff;
         background: #000000;
         border: 1px solid #727272;
         margin-right: 10px;
         position: relative;
         left: -50%;
      }
      a{
         padding: 8px 14px;
         display: block;
         float: left;
         color: #ffffff;
         background:#4b4b4b;
         border: 1px solid #4b4b4b;
         margin-right: 10px;
         position: relative;
         left: -50%;
      }
   }
}
#pager-navi{
   width: 80%;
   text-align: center;
   margin:-40px auto 50px;
}
/*placeholder*/
@mixin placeholder-color($color){
   &:-moz-placeholder{
      color:$color;
   }
   &::-webkit-input-placeholder{
      color:$color;
   }
}

/*margin*/
.mr10{
   margin-right: 10px;
}
.mr20{
   margin-right: 20px;
}
.mr30{
   margin-right: 30px;
}
.mr40{
   margin-right: 40px;
}
.mr50{
   margin-bottom: 50px;
}
.mb0{
   margin-bottom: 0px;
}
.mb10{
   margin-bottom: 10px;
}
.mb15{
   margin-bottom: 15px;
}
.mb20{
   margin-bottom: 20px;
}
.mb30{
   margin-bottom: 30px;
}
.mb35{
   margin-bottom: 35px;
}
.mb40{
   margin-bottom: 40px;
}
.mb50{
   margin-bottom: 50px;
}
.mb60{
   margin-bottom: 60px;
}
/*padding*/
.p10{
   padding: 10px;
}
.p15{
   padding: 15px;
}
.p20{
   padding: 20px;
}
.pt10{
   padding-top: 10px;
}
.pt20{
   padding-top: 20px;
}
.pt30{
   padding-top: 30px;
}
.pt40{
   padding-top: 40px;
}
.pt50{
   padding-top: 50px;
}
.pr10{
   padding-right: 10px;
}
.pr20{
   padding-right: 20px;
}
.pr30{
   padding-right: 30px;
}
.pr40{
   padding-right: 40px;
}
.pr50{
   padding-right: 50px;
}
.pb10{
   padding-bottom: 10px;
}
.pb20{
   padding-bottom: 20px;
}
.pb30{
   padding-bottom: 30px;
}
.pb40{
   padding-bottom: 40px;
}
.pb50{
   padding-bottom: 50px;
}
.pl10{
   padding-left: 10px;
}
.pl20{
   padding-left: 20px;
}
.pl30{
   padding-left: 30px;
}
.pl40{
   padding-left: 40px;
}
.pl50{
   padding-left: 50px;
}

@mixin title-style {
   /*font-family: $title-font;
   font-size:23px;
   letter-spacing: 5px;*/
}
/*anchor*/
a.anchor{
   display: block;
   height:0;
   overflow: hidden;
   text-indent:-9999px;
   padding-top:100px;
   margin-top: -100px;
}